# python == 3.6.10
# numpy >= 1.19
# scipy >= 1.5.0
# matplotlib >= 3.2
# astropy >= 4.0
# peakutils >= 1.0.3
# tqdm
# h5py

# dustmaps needs healpy in environment.yml since
# often can't compile on Mac with pip
# ... removing requirement so that can distribute just with requirements.txt
# dustmaps

# git+https://github.com/gbrammer/dust_extinction.git
# git+https://github.com/gbrammer/dust_attenuation.git

# Needed for template smoothing, doesn't bring whole fsps distro
astro-sedpy>=0.3
# astro-prospector


